MarkManager/Service References/ServiceReference/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClazz">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clazz" nillable="true" type="tns:Clazz" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClazz" nillable="true" type="tns:ArrayOfClazz" />
  <xs:complexType name="Clazz">
    <xs:sequence>
      <xs:element name="_x003C_id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clazz" nillable="true" type="tns:Clazz" />
</xs:schema>