MarkManager/Service References/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49832/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49832/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49832/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:49832/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClazzs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClazzs" />
  </wsdl:message>
  <wsdl:message name="IService_GetClazzs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClazzsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateClazz_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClazz" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateClazz_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClazzResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteClazz_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClazz" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteClazz_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClazzResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FindClazz_InputMessage">
    <wsdl:part name="parameters" element="tns:FindClazz" />
  </wsdl:message>
  <wsdl:message name="IService_FindClazz_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindClazzResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClazzs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClazzs" message="tns:IService_GetClazzs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClazzsResponse" message="tns:IService_GetClazzs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClazz">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateClazz" message="tns:IService_UpdateClazz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateClazzResponse" message="tns:IService_UpdateClazz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClazz">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteClazz" message="tns:IService_DeleteClazz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteClazzResponse" message="tns:IService_DeleteClazz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindClazz">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FindClazz" message="tns:IService_FindClazz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FindClazzResponse" message="tns:IService_FindClazz_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClazzs">
      <soap:operation soapAction="http://tempuri.org/IService/GetClazzs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClazz">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateClazz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClazz">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteClazz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindClazz">
      <soap:operation soapAction="http://tempuri.org/IService/FindClazz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:49832/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>