MarkManager/Service References/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="clazz" nillable="true" type="tns:Clazz" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sex" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="Clazz">
    <xs:sequence>
      <xs:element name="_x003C_id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clazz" nillable="true" type="tns:Clazz" />
  <xs:complexType name="ArrayOfTeacher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Teacher" nillable="true" type="tns:Teacher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeacher" nillable="true" type="tns:ArrayOfTeacher" />
  <xs:complexType name="Teacher">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sex" type="xs:short" />
      <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Teacher" nillable="true" type="tns:Teacher" />
  <xs:complexType name="ArrayOfClazz">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clazz" nillable="true" type="tns:Clazz" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClazz" nillable="true" type="tns:ArrayOfClazz" />
  <xs:complexType name="ArrayOfCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourse" nillable="true" type="tns:ArrayOfCourse" />
  <xs:complexType name="Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
</xs:schema>